.ride {
    font-family: arial;
    font-size: 30px;
  }

  input {
    display: block;
    margin-bottom: 10px;
    width: 250px;
    padding: 7px;
    border: none;
    background-color: rgb(235, 230, 230);
    color: rgb(119, 112, 112);
  }

  .dest {
    margin-bottom: 20px;
  }

  .req {
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .later {
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 8px;

  }